In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('PECVD Randomly Generated Data.csv')
data

,Pwr.(w),TFR (mg/min),O2-Lo (cc/m),Temp(C),Pres.(torr),Total He Carrier (sccm),k value
0,960.0,5300.0,343.0,360.0,9.2,1225.0,2.848258
1,650.0,3000.0,68.0,340.0,10.2,1475.0,3.245444
2,1030.0,4800.0,58.0,380.0,4.7,550.0,3.953603
3,920.0,4800.0,438.0,380.0,4.7,1125.0,3.080942
4,500.0,4700.0,53.0,380.0,8.2,1200.0,3.749117
...,...,...,...,...,...,...,...
19995,630.0,4500.0,48.0,380.0,4.7,950.0,3.348780
19996,670.0,4600.0,108.0,380.0,8.2,1025.0,2.845660
19997,990.0,4700.0,63.0,380.0,5.2,1000.0,3.224239
19998,1020.0,4800.0,313.0,340.0,9.2,925.0,3.541268
19999,860.0,4900.0,128.0,320.0,9.2,1050.0,3.142747

In [3]:
data = data.drop_duplicates(ignore_index=True) #delete all duplicates


x = data.drop(['k value'], axis=1)
y = data['k value']

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    x, y, test_size=0.30, random_state=42
)

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [8]:
linear_model = LinearRegression() # Create linear regression object
linear_model.fit(X_train, y_train)
y_prediction = linear_model.predict(X_test)
mae = mean_absolute_error(y_test,y_prediction)
print(f'The Mean Absolute Error is {mae}')

The Mean Absolute Error is 0.2553753937441792

In [9]:
import pickle

model_filename = 'Predicting_k_value_model.pkl'
pickle.dump(linear_model, open(model_filename, 'wb'))